html{
    height: -webkit-fill-available;
}
body{
    height: inherit;
    display:flex;
    flex-direction: column;
    margin: 0px;
    background-color: #3f3939 !important;
}
.dropdown-menu {
    background-color: #667074 !important;
    border: none;
}
ul li a{
    text-decoration: none;
    white-space: nowrap;
}
nav{
    background-color:rgb(183 227 239 / 32%);
    justify-content: flex-end !important;
    position: absolute !important;
    width: -webkit-fill-available !important;
}
.collapse{
    margin-right: 10px;
}
main {
    width: auto !important;
    flex: 1 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    display: grid;
    grid-template-columns: 60px 1fr 60px;
    text-align: justify;
    line-height: 1.5; 
}  
container{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}
.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-label {
    margin-bottom: 10px;
}
.slider {
    -webkit-appearance: none;
    width: 300px;
    height: 10px;
    background: #667073;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider-value{
    color: #cfcbcb;
    font-weight: 600;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #cfcbcb;
    border-radius: 50%;
}
footer{
    font-family: sans-serif;
    font-weight: 500;
    TEXT-ALIGN: center;
    color: #7d7171;
    font-size: small;
    flex-shrink: 0 !important;
}
.logo{
    margin-right: 40px !important;
    margin-left: 20px;
    font-weight: 700;
}
/*Caixas de interação com a pagina*/
input{
    text-align:center;
    font-weight: 600;
    color: #ffffff;
    font-size: 1.5rem;
    border-radius: 15px;
    border: none;
    padding: 10px 15px;
    margin-top: 16px;
    background-color:rgb(183 227 239 / 32%);
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input::placeholder {
    color: rgb(207, 203, 203);
  }
.entradaNota{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    margin-top: 10px;
    margin-right: 0.8rem;
}
p{
    font-size: 32px;
    line-height: 1.525;
    font-weight: 600;
    letter-spacing: .004em;
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}
p3{
    font-size: 30px;
    line-height: clamp(1.125, .525, .125);
    font-weight: 700;
    letter-spacing: .004em;
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    color:#667074;
}
p2, p2 u{
    font-size: 15px;
    letter-spacing: clamp(0.004em, 0.004em, 0.004em);    
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #667074;
    text-align: center;
}
.legenda{
    width: 80%;
    margin-bottom: 1rem;
}
.tituloPagina {
    display: flex;
    align-items: flex-start;
}
.centralizar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.divMetade{
    width: 45%;
}
span{
    color: #667074;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="divMetade"] {
      width: 100%;
      margin-bottom: 1rem;
    }
    input {
        font-size: 100% !important;
    }
    p2, u{
        font-size: 2.2vw !important;
    }
}
.regular{
    background-color:rgb(183 227 239 / 32%);
    color: rgb(207, 203, 203);
}
.alerta{
    background-color:rgb(187, 132, 116);
    color: rgb(207, 203, 203);
}
/*Junto ao back para tornar a experiencia melhor*/
.aparecer {
    display: flex !important;
    transition: 500ms linear;
  }
  a.link-plain {
    text-decoration: none;
    color: inherit;
}
a {
    text-decoration: none;
    color: #cfcbcb !important; 
}
