html {
    height: -webkit-fill-available;
}

body {
    height: inherit;
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-color: #3f3939 !important;
}

.dropdown-menu {
    background-color: #667074 !important;
    border: none;
}

ul li a {
    text-decoration: none;
    white-space: nowrap;
}

nav {
    background-color: #667074;
    justify-content: flex-end !important;
    position: absolute !important;
    width: -webkit-fill-available !important;
}

.collapse {
    margin-right: 10px;
}

main {
    width: auto !important;
    flex: 1 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    display: grid;
    grid-template-columns: 60px 1fr 60px;
    text-align: justify;
    line-height: 1.5;
    overflow: hidden;
}

container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

/* Estilize o cursor do range (slider) como um retângulo */
input[type="range"] {
    -webkit-appearance: none;
    /* Remova a aparência padrão do slider no Safari */
    cursor: pointer;
    /* Mude o cursor ao passar por cima para indicar que é clicável */
}

input[type="range"]::-webkit-slider-thumb:hover {
    background-color: #585453;
    /* Cor de preenchimento quando a "bolinha" está sob o cursor */
}
input.pontoFaltas[type="range"]::-webkit-slider-thumb:hover {
    height: opx !important;
    /* Cor de preenchimento quando a "bolinha" está sob o cursor */
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #b5b0b0;
    border-radius: 50px;
    height: 3.2rem;
    width: 10px;
}

.pontoFaltas::-webkit-slider-thumb {
    background-color: #b5b0b000 !important;
 }

._range:focus {
    outline: none;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input.pontoFaltas[type="range"] {
    -webkit-appearance: none;
    appearance: none;
}
.slide-range-outinput {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    width: -webkit-fill-available !important;
    flex-direction: row;
    width: 13rem;
    font-size: medium;
    justify-content: space-between;
}

.slider-label {
    margin-bottom: 10px;
}

.slider {
    -webkit-appearance: none;
    height: 10px;
    background: #667074;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    width: 14rem;
    padding: 0 !important;
    width: -webkit-fill-available !important;
    height: 3.2rem;
}

.slider-value {
    color: #cfcbcb;
    font-weight: 600;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: auto;
    background: #585453;
    border-radius: 50%;
    cursor: pointer;
}

footer {
    font-family: sans-serif;
    font-weight: 500;
    TEXT-ALIGN: center;
    color: #7d7171;
    font-size: small;
    flex-shrink: 0 !important;
}

.logo {
    margin-right: 65px !important;
    margin-left: 20px;
    font-weight: 700;
}

.gradeCurso {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

.divPeriodo {
    width: 100%;
    height: 110px;
    border-radius: 32px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.divMateriaPeriodo{
    width: 100%;
    display: flex;
    align-items: center;
    height: inherit;
    justify-items: center;
    text-align: center;
    justify-content: space-evenly;
}
.divPeriodo:only-child {
    justify-content: center;
}

/* Dependências (azul) */
.materiasDependencia {
    background-color: #315763 !important; /* Cor de fundo para dependências (azul) */
}

/* Pendências (amarelo) */
.materiasDepende {
    background-color: #5f5d50 !important; /* Cor de fundo para pendências (amarelo) */
}

.impar {
    text-align: center;
    /* Ajuste o alinhamento conforme necessário */
    background-color: #585453;
}

.par {
    text-align: center;
    /* Ajuste o alinhamento conforme necessário */
    background-color: #4b494b;
}

.materia {
    flex: 1; /* Faz com que todas as matérias tenham o mesmo tamanho */
    margin: 0px 5px; /* Adiciona o espaçamento horizontal entre as matérias */
    max-width: 9rem;
    background: #666f74;
    border-radius: 13px;
    height: 50%;
    overflow: auto; /* Adiciona uma barra de rolagem quando o conteúdo excede a altura da div */

}  

.materia.center {
    margin: 0 auto;
}
.carrossel {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    position: relative;
}
  
.divEnfases {
    display: flex;
    flex-wrap: nowrap;
}
  
.enfaseSeletor {
    margin: 10px;
    background: #3f3939;
    border: 1px solid #666f74;
    border-radius: 30px;
    padding: 10px;
    color: #666f74;
    text-align: center;
    font-weight: 700;
    user-select: none;
    min-width: 150px; /* Largura mínima de cada item */
    flex: 0 0 auto;
  }

  .divEnfases:hover{
    cursor: pointer;
}
.enfaseSeletor:hover{
    background: #666f74;
    color: #cfcbcb;
}
.selecionado{
    background: #666f74 !important;
    color: #cfcbcb !important;
}
  
.nomeMateria {
    font-weight: 900;
    display: grid;
    height: 100%;
    align-items: center;
    color: #cfcbcb !important;
    OVERFLOW: hidden;
    user-select: none;
    cursor: default;
}
.nomePeriodo{
    font-weight: 900;
    color: #cfcbcb !important;
    float: left;
    MARGIN-LEFT: 15PX;
}
/*Caixas de interação com a pagina*/
input {
    text-align: center;
    font-weight: 600;
    color: #ffffff;
    font-size: 1.5rem;
    border-radius: 15px;
    border: none;
    padding: 10px 15px;
    margin-top: 16px;
    background-color: #667074;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input::placeholder {
    color: #cfcbcb;
}

.entradaNota {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    margin-top: 10px;
    margin-right: 0.8rem;
}

p {
    font-size: 32px;
    line-height: 1.525;
    font-weight: 600;
    letter-spacing: .004em;
    font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}

p3 {
    font-size: 30px;
    line-height: clamp(1.125, .525, .125);
    font-weight: 700;
    letter-spacing: .004em;
    font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #667074;
}

p2,
p2 u {
    font-size: 15px;
    letter-spacing: clamp(0.004em, 0.004em, 0.004em);
    font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #667074;
    text-align: center;
}

.legenda, .legenda u {
    width: 80%;
    margin-bottom: 1rem;
    color: #c8c8c8 !important;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}
.highlight {
    z-index: 1;
}
.tituloPagina {
    display: flex;
    align-items: flex-start;
}

.centralizar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divMetade {
    width: 45%;
}

span {
    color: #667074;
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    [class*="divMetade"] {
        width: 100%;
        margin-bottom: 1rem;
    }

    input {
        font-size: 100% !important;
        height: auto !important;
    }

    p2,
    u {
        font-size: 2.2vw !important;
    }
    .gradeCurso{
        grid-template-columns: 1fr !important;
        align-items: flex-start !important;;
    }
    .centralizarGrade{
        margin-left: 40px !important;
    }
    .nomeMateriaLager{
       font-size: 2.5VW !important;
    }
    .enfaseSeletor{
        font-size: 9px !important;
    }
    .carrossel{
        height: 63px;

    }
}
#overlay {
    display: none;
}

#overlay.visible {
    display: block;
}
.regular {
    background-color: #667074;
    color: #cfcbcb;
}

.alerta {
    background-color: rgb(187, 132, 116);
    color: #cfcbcb;
}

#back-to-top {
    display: none;
    /* Inicialmente, o botão estará oculto */
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #667074;
    /* Cor de fundo do botão */
    color: #fff;
    /* Cor do texto */
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

#back-to-top:hover {
    background-color: #585453;
    /* Cor de fundo ao passar o mouse */
}

/*Junto ao back para tornar a experiencia melhor*/
.aparecer {
    display: flex !important;
    transition: 500ms linear;
}

a.link-plain {
    text-decoration: none;
    color: inherit;
}

a {
    text-decoration: none;
    color: #cfcbcb !important;
}