* {
   /*Zerando pro margin e padding não influenciar na lagura das coisas*/
   box-sizing: border-box; 
   margin: 0;
   padding: 0;
}
body {
    height: 100vh;
    margin: 0;
    color: var(--bs-body-color);
    background-color: #3f3939;
}
main {
    height: 90%;
    padding-left: 5px;
    padding-right: 5px;
    display: grid;
    grid-template-columns: 60px auto 60px;
}  
container{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

/*Caixas de interação com a pagina*/
input{
    text-align:center;
    font-weight: 600;
    color: #ffffff;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
    padding: 10px 15px;
    margin-top: 16px;
    background-color:rgb(183 227 239 / 32%);
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input::placeholder {
    color: rgb(207, 203, 203);
  }
.entradaNota{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    margin-top: 10px;
    margin-right: 0.8rem;
}
p{
    font-size: 32px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .004em;
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.divMetade{
    width: 45%;

}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="divMetade"] {
      width: 100%;
    }
}
.regular{
    background-color:rgb(183 227 239 / 32%);
    color: rgb(207, 203, 203);
}
.alerta{
    background-color:rgb(187, 132, 116);
    color: rgb(207, 203, 203);
}
/*Junto ao back para tornar a experiencia melhor*/
.aparecer {
    display: flex !important;
    transition: 500ms linear;
  }
  